* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(../img/vraagtekenBG.png);
}

.wrapper {
    width: 600px;
    margin: 0 auto;
}

img {
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 100%;
    display: block;
}

h1,
h2 {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

button {
    background-color: white;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: black;    
}

.button {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}

.center {
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
}