.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  margin: 0 .75rem;
}

.grid--inner {
  margin: 0;
}

.width-1\/12 {
  grid-column: 1 / 13;
}

.width-2\/12 {
  grid-column: span 2;
}

.width-6\/12 {
  grid-column: span 4;
}

// More of the same...

.width-12\/12 {
  grid-column: span 12;
}

.width-4\/9 {
  grid-column: 1 / 5;
}

.width-2\/4-small {
  grid-column: 2 / 4;
}

.span-4 {
  grid-column: span 4;
}


/* Tablet */
@media screen and (min-width: 48rem) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }

  .width-4\/9 {
    grid-column: 3/7;
  }
}

/* Desktop */
@media screen and (min-width: 64rem) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }

  .width-6\/12 {
    grid-column: span 6;
  }

  .width-4\/9 {
    grid-column: 3 / 10;
  }

  .width-3\/10 {
    grid-column: 3 / 11;
  }
}


// @media (min-width: 48em) {
//   .width-1\/12\@m {
//     grid-column: span 1;
//   }
// }

// @media (min-width: 48em) {
//   .width-2\/12\@m {
//     grid-column: span 2;
//   }
// }

// // More of the same...

// @media (min-width: 48em) {
//   .width-12\/12\@m {
//     grid-column: span 12;
//   }
// }
