h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Work Sans", sans-serif;
  color: var(--text-col);
}

h1,
.heading1 {
  font-size: 6rem;
  font-weight: 300;

  margin-bottom: 0.8em;
}

h2,
.heading2 {
  font-size: 3.75rem;
  font-weight: 600;

  margin-bottom: 0.8em;
}

h3,
.heading3 {
  font-size: 3rem;
  font-weight: 400;
}

h4,
.heading4 {
  font-size: 2.125rem;
  font-weight: 700;
}

h5,
.heading5 {
  font-size: 1.5rem;
  font-weight: 700;
}

h6,
.heading6 {
  font-size: 1.25rem;
  font-weight: 500;
}

p,
.body1 {
  font-size: 1.125rem;
  font-weight: 400;
}

.body2 {
  font-size: 0.875rem;
  font-weight: normal;

  // margin-bottom: 1em;
}

button,
.button {
  font-size: 0.875rem;
  font-weight: 500;

  // text-transform: uppercase;
}
