:root {
  --black: #000000;
  --white: #ffffff;

  --medium-black: #292929;
  --light-black: #121212;

  --col-primary: #6200ee;
  --col-primary-var: #3700b3;
  --col-secondary: #03dac6;
  --col-secondary-var: #018786;

  --col-surface: #ffffff;

  --text-col: var(--black);

  --col-error: #b00020;

  --background: var(--white);

  --dp-04: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 2px 4px rgba(0, 0, 0, 0.2),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --col-primary: #bb86fc;
    --col-primary-var: #3700b3;
    --col-secondary: #03dac6;
    --col-secondary-var: #03dac6;

    --col-surface: #121212;

    --col-error: #cf6679;

    --background: #0d1117;
    --text-col: var(--white);
  }
}

.dark {
  --background: #0d1117;
  --text-col: var(--white);
}
