.projectDesc {
  // margin-left: auto;
  // margin-right: auto;

  // max-width: 46rem;

  margin-bottom: 4rem;
  grid-template-rows: min-content;

  article {
    .nuxt-content {
      p:nth-child(2) img {
        margin-top: 0;
      }
    }

    p {
      margin-bottom: 1.6ch;

      // max-width: clamp(45ch, 100%, 75ch);
      // max-width: 46rem;
      margin-left: auto;
      margin-right: auto;

      line-height: 1.4;

      &:last-of-type {
        margin-bottom: 2ch;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-bottom: 1ch;

      // max-width: clamp(45ch, 100%, 75ch);
      max-width: 46rem;
    }

    h1 {
      margin-top: 0.2ch;
    }

    h2,
    h3,
    h4,
    h5 {
      margin-top: 1.8ch;
    }

    h1 {
      font-size: 3.75rem;
      font-weight: 600;
    }

    h2 {
      font-size: 2.125rem;
      font-weight: 600;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    h4 {
      font-size: 1.25rem;
      font-weight: 700;
    }

    h5 {
      font-size: 1rem;
      font-weight: 700;
    }

    img {
      width: 100%;
      height: auto;

      margin-bottom: 1.2rem;
      margin-top: 1.2rem;
    }

    // list styles
    ul,
    ol {
      margin-bottom: 2ch;
      margin-left: 1.4rem;

      li {
        font-size: 1.125rem;
      }
    }

    p a {
      text-decoration: underline;
    }

    // anchor styles

    // quote styles

    .iconLink {
      margin-right: 1rem;
    }

    // special grids
    .nodegrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

      margin-top: 2.4rem;
      margin-bottom: 2.4rem;

      img {
        margin: 0;
        width: 100%;
        aspect-ratio: 1 / 1;
      }
    }
  }
}

//     p a {
//       display: initial;
//     }

//     a.button {
//       display: inline-block;
//     }

//     .projects--grid {
//       margin-top: 2.6rem;

//       li {
//         list-style: none;
//         margin-bottom: 1rem;
//       }
//     }
//   }
// }

// /* Tablet */
// @media screen and (min-width: 48rem) {
//     ul.projects--grid {
//       img {
//         width: 100%;
//         margin-left: 0;
//       }
//     }
//   }
// }
