.contactPage {
  padding-top: 6rem;

  h1,
  h2 {
    font-size: 3rem;
  }

  .contactPage__form {
    margin-bottom: 2rem;

    #submitbutton {
      margin-left: auto;
    }
  }

  .contactPage__social {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;

      flex-wrap: wrap;

      margin-bottom: 3rem;

      li {
        font-size: 0;
        margin: 0 1rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        svg {
          width: 3.2rem;
          height: auto;
          fill: var(--text);

          transition: all 0.2s ease-out;
        }

        a {
          @include hocus {
            outline: none;

            svg {
              fill: var(--col-primary);
            }
          }
        }
      }

      &:hover {
        a:focus svg {
          fill: var(--text);
        }

        a:hover svg {
          fill: var(--col-primary);
        }
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: 48rem) {
  h1,
  h2 {
    font-size: 3.75rem;
  }
}

/* Desktop */
@media screen and (min-width: 64rem) {
}
