.homePage {
  max-width: initial;
  overflow-x: hidden;

  &__about {
    margin: 6rem auto 4rem auto;
    position: relative;

    .scroll {
      text-align: center;
      position: relative;
      margin: 0 auto;
      color: var(--text);

      &::before {
        content: "";
        position: absolute;
        background-color: currentColor;

        width: 150%;
        height: 1px;

        border-radius: 1rem;
        transition: all 0.2s ease-out;

        left: -22.5%;
        bottom: -0.3rem;
      }

      @include hocus() {
        outline: none;

        &::before {
          transform: translateX(-12.5%);
          width: 200%;
        }
      }
    }

    svg,
    .svg1,
    .svg2 {
      z-index: -1;
      position: absolute;
      transition: all 0.1 ease-out;
    }

    .svg1 {
      top: -269px;
      left: 0;
      transform: translateX(-60px);

      fill: var(--col-secondary);
    }

    .svg2 {
      top: 210px;
      right: 0;
      transform: translateX(210px);

      fill: var(--col-primary);
    }
  }

  &__about2 {
    position: relative;
    // max-width: 100rem;
    margin: 0 auto 10rem auto;
    padding-top: 4rem;

    svg,
    .svg3,
    .svg4 {
      z-index: -1;
      position: absolute;
      transition: all 0.1 ease-out;
    }

    .svg3 {
      top: 77px;
      left: 0;
      transform: translateX(-51px);

      fill: var(--col-secondary-var);
    }

    .svg4 {
      display: none;

      fill: var(--col-secondary);
    }
  }

  &__projects {
    margin-bottom: 14rem;

    .moreProjects {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;

      margin-left: auto;

      svg {
        height: 0.8em;
        width: auto;
        margin-left: 1rem;
        fill: currentColor;
      }
    }
  }

  &__contact {
    position: relative;
    padding-bottom: 18rem;

    .button {
      width: fit-content;
    }

    svg,
    .svg5 {
      z-index: -1;
      position: absolute;
      transition: all 0.1 ease-out;
    }

    .svg5 {
      top: -12rem;
      left: 2rem;

      width: 600px;
      height: auto;

      fill: var(--col-secondary);
    }
  }
}

/* Tablet */
@media screen and (min-width: 48rem) {
  .homePage {
    &__about {
      margin-top: 14rem;
      margin-bottom: 6rem;

      .svg1 {
        top: -269px;
        transform: translateX(-88px);
      }

      .svg2 {
        top: -160px;
        transform: translateX(-100px);
      }
    }

    &__about2 {
      position: relative;

      padding-top: 4rem;
      margin-bottom: 14rem;

      .svg3 {
        top: 77px;
        transform: translateX(-51px);
      }

      .svg4 {
        display: initial;

        top: 110px;
        right: 0;
        transform: translateX(80px);
      }
    }

    // &__projects {
    //   // ul {
    //   //   svg {

    //   //   }
    //   // }

    //   a {
    //     // display: flex;
    //     // flex-direction: row;
    //     // align-items: center;
    //     // margin-left: auto;

    //     // svg {
    //     //   height: 0.8em;
    //     //   fill: currentColor;
    //     // }
    //   }
    // }
  }
}

// desktop
@media screen and (min-width: 64rem) {
}
