// .textInput--container {
//   margin-bottom: 2rem;
//   position: relative;

//   label {
//     font-size: 1rem;
//     position: absolute;
//     margin-left: 0.6rem;
//     padding: 0 0.2rem;
//     left: 0;
//     transform-origin: top left;
//     transform: translate(0, 1.05rem) scale(1);
//     transition: all 0.1s ease-out; //speed
//   }

//   input {
//     font-size: 16px;
//     outline: 0;
//     padding: 1rem 0.8rem;
//     width: 100%;

//     color: rgba(0, 0, 0, 0.6);
//     @include rounded(0.25rem);
//     border: 1px solid rgba(0, 0, 0, 0.12);

//     &::placeholder {
//       opacity: 0;
//       color: rgba(0, 0, 0, 0.6);
//       transition: all 0.1s ease-out;
//     }

//     &:focus::placeholder {
//       opacity: 1;
//     }

//     // focused
//     &:focus {
//       color: rgba(0, 0, 0, 0.87);
//       border-color: var(--col-primary);

//       & + label {
//         color: var(--col-primary);
//       }
//     }

//     // error
//     &:focus:invalid {
//       border-color: var(--col-error);

//       & + label {
//         color: var(--col-error);
//       }
//     }

//     // if label active or text is filled
//     &:focus + label,
//     &:not(:placeholder-shown) + label {
//       //move the x coordinate and reduce size
//       transform: translate(0, -0.35rem) scale(0.75);
//       background-color: var(--white);
//     }
//   }
// }

// .textInput--large {
//   position: relative;

//   label {
//     top: 0;
//     left: 0;
//     transform: translate(0, 1rem) scale(1);
//   }

//   textarea {
//     resize: none;
//     border: none;
//     font-size: 16px;
//     outline: 0;
//     padding: 1rem .8rem;
//     width: 100%;
//     background: none;

//     color: rgba(0, 0, 0, 0.6);
//     @include rounded(.25rem);
//     border: 1px solid rgba(0, 0, 0, 0.12);

//     &::placeholder {
//       opacity: 0;
//       color: rgba(0, 0, 0, 0.6);
//       transition: all .1s ease-out;
//     }

//     &:focus::placeholder {
//       opacity: 1;
//     }

//     // focused
//     &:focus {
//       color: rgba(0, 0, 0, 0.87);
//       border-color: var(--col-primary);

//       &+label {
//         color: var(--col-primary);
//       }
//     }

//     // error
//     &:focus:invalid {
//       border-color: var(--col-error);

//       &+label {
//         color: var(--col-error);
//       }
//     }

//     // if label active or text is filled
//     &:focus+label,
//     &:not(:placeholder-shown)+label {
//       //move the x coordinate and reduce size
//       transform: translate(0, -.4rem) scale(.75);
//       background-color: var(--white);
//     }
//   }
// }

// buttons
body .button {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--col-primary);
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0.6rem 0.8rem;
  @include rounded(0.25rem);
  position: relative;
  overflow: hidden;
  transition: all 0.1s ease-out;

  &::before {
    content: "";
    background: rgba(98, 0, 238, 0.12);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 100rem;
    transition: all 0.4s ease-out;
  }

  &:hover {
    background: rgba(98, 0, 238, 0.04);

    &::before {
      width: 20rem;
      height: 20rem;
    }
  }

  &:focus {
    outline: none;
    background: rgba(98, 0, 238, 0.12);
  }
}

// Slider

.slidecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slidecontainer p {
  margin: 0 0.8rem;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  // width: 200px;
  height: 2px;
  border-radius: 1rem;
  background-color: rgba(98, 0, 238, 0.38);
  outline: none;
  opacity: 1;
  transition: all 0.2s ease;
}

/* Browser support */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.75rem;
  height: 0.75rem;
  background: var(--col-primary);
  cursor: pointer;
  border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
  opacity: 0.8;
}

/** Firefox support*/
.slider::-moz-range-progress {
  background-color: var(--col-primary);
  border-radius: 20rem 0 0 20rem;
}

.slider::-moz-range-track {
  background-color: rgba(98, 0, 238, 0.38);
  border-radius: 20rem;
}

.slider::-moz-range-thumb {
  background-color: var(--col-primary);
  border: none;
  border-radius: 20rem;
}
