@import "reset";
@import "variables";
@import "mixins";

@import "input";

@import "header";
@import "footer";

body {
  background-color: var(--white);
}

body,
header,
main,
footer {
  width: calc(100vw - (100vw - 100%));
}

main {
  min-height: 100vh;
  padding-top: 3rem;
}
