.projectDesc {
  article {
    padding-top: 4rem;
    margin: 0 auto;
    max-width: 100rem;

    h1,
    h2,
    h3,
    h4,
    h5 {
      max-width: 30rem;
      margin: 0 auto .8em auto;
      padding: 0 .4rem;
    }

    p {
      max-width: 30rem;
      margin: 0 auto 1em auto;
      padding: 0 .4rem;

      a {
        display: initial;
      }
    }

    a.button {
      display: inline-block;
    }

    ul {
      max-width: 30rem;
      margin: 0 auto .8em auto;
      padding: 0 .4rem;
    }

    li {
      list-style: inside;
    }

    img {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }

    .projects--grid {
      margin-top: 2.6rem;

      li {
        list-style: none;
        margin-bottom: 1rem;
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: 48rem) {
  .projectDesc article {
    img {
      width: 140%;
      margin-left: -20%;
    }

    p {
      max-width: 30rem;
    }

    ul.projects--grid {
      max-width: 50rem;

      img {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}
