.projectDesc {
  article {
    padding-top: 4rem;
    margin: 0 auto;
    max-width: 100rem;

    h1,
    h2,
    h3,
    h4,
    h5 {
      max-width: 30rem;
      margin: 0 auto .8em auto;
    }

    p {
      max-width: 30rem;
      margin: 0 auto 1em auto;

      a {
        display: initial;
      }
    }

    a.button {
      display: inline-block;
    }

    img {
      width: 100%;
      height: auto;

      margin-bottom: 1rem;
    }

    .projects--grid {
      margin-top: 2.6rem;

      li {
        margin-bottom: 1rem;
      }
    }
  }
}
