.projects {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 3rem 0;

    h1 {
      text-align: center;
    }

    svg {
      margin: 0 auto;
    }
  }


  &__item {
    transition: all .2s ease-out;
    position: relative;

    overflow: hidden;

    margin-bottom: 1.5rem;

    img {
      width: 100%;
      height: auto;

      transition: all .2s ease-out;
    }

    h2 {
      color: var(--white);
      position: absolute;
      bottom: 0;
      margin-bottom: 0;
      transition: all .2s ease-out;

      transform: translateY(0);
    }

    svg {
      position: absolute;
      bottom: 0;

      transition: all .2s ease-out;

      opacity: 0;
      transform: translateY(1.6rem);

      path {
        fill: var(--white);
      }
    }

    .projects__text {
      position: absolute;

      bottom: 2rem;
      left: 2rem;
      right: 2rem;
    }

    @include hocus {
      a {
        outline: none;
      }

      h2 {
        transform: translateY(-.8em);
      }

      img {
        transform: scale(1.1);
      }

      svg {
        opacity: 1;
        transform: translateY(0);
      }

    }
  }
}
