* {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;

    --orangie: #fd794d;
    --skinOrange: #ffa080;
    --sand: #fcd4c5;
    --darkestBlue: #131b42;
    --mediumDarkBlue: #202b5f;
    --mediumBlue: #2244f0;
    --lichterBlue: #5d73e5;

    --textWhite: #fafafa;
    --textBlack: #0c0c0c;
    --focus-col: #fcd4c5;
}

.lightTheme {
    --orangie: #5d73e5;
    --skinOrange: #2244f0;
    --sand: #202b5f;
    --darkestBlue: #131b42;
    --mediumDarkBlue: #202b5f;
    --mediumBlue: #ffa080;
    --lichterBlue: #fcd4c5;

    --textWhite: #fafafa;
    --textBlack: #0c0c0c;
    --focus-col: #131b42;
}

svg {
    max-width: 100vw;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    max-width: 30rem;
}

/******************
      Header
******************/
header {
    width: 100vw;
    position: relative;
    margin-bottom: -1px;
}

nav {
    z-index: 3;
    max-width: 100vw;
    width: 100vw;
    min-height: 2rem;

    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: .5rem;
}

nav ul {
    z-index: 2;
    white-space: nowrap;
    justify-content: space-between;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    position: absolute;
    right: 0;
    top: 5rem;
    overflow: hidden;

    pointer-events: none;
}

nav li {
    list-style: none;
    display: inline-block;

    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-align: right;

    width: auto;
    position: relative;

    background-color: var(--mediumBlue);
    padding: 1rem 3rem 1rem 2rem;
    border-radius: 4rem 0 0 4rem;
    transform: translateX(110%);
    transition: transform .3s ease-out;
}

nav li a {
    text-decoration: none;
    color: var(--textBlack);
}

.zoekNav a {
    color: var(--textWhite);
}

nav li a:focus {
    outline: none;
}

nav li a:after {
    position: absolute;
    bottom: .8rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    background: var(--darkestBlue);
    height: 2px;
    transition: all .5s;
}

nav li a:hover::after,
nav li a:focus::after {
    width: 50%;
}

/*Hamburger menu*/
#burgerMenu {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 1.5rem;
    width: 1.9rem;
    height: auto;
}

#burgerMenu rect {
    fill: var(--textWhite);
    transition: all .3s ease-in-out;
}

/*Nav zoeken*/
nav form {
    width: 100%;
    height: auto;
}

nav input[type="text"] {
    border: 1.2px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border-radius: 40px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: none;
    background-image: url(../img/iconsZoek.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 1.2rem auto;
    padding: 12px 20px 12px 20px;

    transition: width .3s ease-out;
    outline: none;
    max-width: 600px;
    background-color: var(--textWhite);
}

nav input[type="text"]:focus {
    animation: searchAni .5s ease-in-out alternate forwards;
}

#themeSwitch {
    max-height: 1.5rem;
}

#themeSwitch button {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: auto;
    border: none;
}

#themeSwitch svg {
    height: 1.5rem;
    width: auto;
}

#themeSwitch path {
    fill: var(--textWhite);
}


/*Menu uitgeklapt*/
.menuActive ul {
    pointer-events: all;
}

.menuActive li {
    transform: translateX(0);
}

nav .terug svg {
    height: 2rem;
    width: 2rem;
    fill: var(--textWhite);
    margin: 20px;
    ;
}

nav h1 {
    color: white;
    font-weight: 500;
    margin: -8px 0 0 0;
    text-align: center;
    font-size: 1.7rem;
}

/*Header landing pagina*/
.homeHeader {
    background-image: url(../img/headerBg.svg);
    background-size: cover;
    background-position: bottom right;
    height: 99vh;
    background-color: var(--sand);
    box-shadow: inset 0px -10px 0px 0px var(--darkestBlue);
}

.manSteen {
    max-height: 450px;
    min-width: 100px;
    max-width: 70vw;

    position: absolute;
    bottom: 0px;
    right: 0;
}

.homeHeader #burgerMenu rect {
    fill: var(--textBlack);
}

.homeHeader nav a {
    color: var(--textWhite);
}

/*Home header knop*/
h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 55px;
}

.homeHeader section {
    position: absolute;
    top: 20vh;
    width: 100%;
}

.homeHeader section a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: var(--textWhite);
    background-color: var(--orangie);
    padding: 14px 32px;
    border-radius: 100px;
    text-align: center;
    max-width: 130px;
    margin: 0 auto;
    transition: all .25s ease;
}

.homeHeader section a:hover,
.homeHeader section a:focus {
    background-color: var(--skinOrange);
    color: var(--textBlack);
}



.mobNone {
    display: none;
}


/******************
        Main
******************/
main {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: var(--darkestBlue);
    width: 100vw;
    padding-bottom: 3rem;
}

.homeMain {
    min-height: auto;
}

main a {
    color: var(--textWhite);
    background-color: var(--mediumBlue);

    display: block;
    font-size: 1rem;

    padding: 14px 32px;
    border-radius: 100px;
    text-align: center;
    max-width: 130px;
    margin: 2rem auto .2rem;

    width: 100%;

    transition: all .25s ease;
}

h2 {
    color: var(--textWhite);
    margin: 0 0 .7em 1rem;
}

.slider {
    width: 100vw;
}

.slider ul {
    padding: 0 1.1rem;
    box-sizing: border-box;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, auto);
    overflow-x: scroll;
    grid-gap: 1.1rem;
}

.slider li {
    box-sizing: border-box;
    padding: 1.2rem 1.5rem;
    width: 65vw;
    height: 185px;
    background-color: var(--sand);
    border-radius: 10px;

    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "itemPic itemContent"
        "itemLink itemLink";

    align-items: center;
}

.slider a {
    color: var(--textWhite);
    background-color: var(--mediumBlue);

    display: block;
    font-size: 1rem;

    padding: 14px 32px;
    border-radius: 100px;
    text-align: center;
    max-width: 130px;
    margin: 0 auto;

    width: 100%;

    transition: all .25s ease;

    grid-area: itemLink;
}

.favIcon {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    transition: all .3 ease;
    background-color: var(--mediumBlue);
    mask: url(../img/iconHart-01.svg) no-repeat 50% 50%;
    -webkit-mask: url(../img/iconHart-01.svg) no-repeat 50% 50%;
}

.favIconActive {
    transition: all .3 ease;
    background-color: var(--orangie);
}

.slider .itemContent {
    grid-area: itemContent;
}

.slider p,
.slider h3 {
    margin-left: .7rem;
}

.slider a:hover,
.slider a:focus {
    background-color: var(--lichterBlue);
    color: var(--textBlack);
}

.slider .pic {
    width: 75px;
    height: 75px;
    background-color: var(--mediumBlue);
    border-radius: 18px;

    grid-area: itemPic;
}


#zoeken {
    padding-top: 6rem;
}

/*form defeault stijling*/
form {
    width: 100%;
}

fieldset {
    color: var(--textWhite);
    border: none;
    padding: .1rem;
    margin: .5rem auto;
}

legend {
    margin: .5rem 0;
}

label {
    display: inline-block;
    margin-bottom: .7rem;
    width: 100%;
}


/*Slider*/
input[type=range] {
    -webkit-appearance: none;
    margin: .2rem 0 .7rem 0;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background: var(--textWhite);
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: var(--mediumBlue);
    cursor: pointer;
    border-radius: 50%;
}

input[type=range]:focus::-webkit-slider-thumb {
    background: var(--focus-col);
}


/*Tekst field*/
input[type=text] {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 25px;
    margin: .7em 0;
    display: inline-block;
    border: 1.2px solid var(--text-col1);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--mediumDarkBlue);
    color: var(--textWhite);
    border: solid 1.5px rgba(0, 0, 0, 0);
}

input[type=text]::placeholder {
    color: #cccccc;
    font-size: .85rem;
}

input[type=text]:focus {
    outline: none;
    border: solid 1.5px var(--focus-col);
}

/*Submit en buttons*/
input[type=submit],
button {
    border: none;
    cursor: pointer;
    margin-top: 1rem;

    font-size: 1rem;
    padding: 16px 32px;
    background-color: var(--mediumBlue);
    border-radius: 7px;
    color: var(--textWhite);
    border: solid 1.5px rgba(0, 0, 0, 0);
}

input[type=submit]:focus,
button:focus {
    border: solid 1.5px var(--focus-col);
    outline: none;
}

label {
    color: var(--textWhite);
}

.viewRange {
    color: var(--textWhite);
}



/*Zoekresultaten stijling*/
.searchResult {
    padding: 1.1rem;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100vw;
    max-width: 1300px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    grid-template-rows: auto;
    justify-items: center;

    align-items: center;
    grid-gap: 1.1rem;
}

/*Zoeken form*/
#zoeken form {
    margin: 0 auto;
    width: 90vw;
    max-width: 800px;
}

.getLocation {
    border-radius: 10px;
    width: 25px;
    height: 25px;
    margin: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);

    margin: .7em 0;

    padding: 25px 25px;
    outline: none;

    background-color: var(--mediumBlue);
    position: relative;

    border: solid 1.5px rgba(0, 0, 0, 0);
}

.getLocation svg {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    transform: scale(.65);
}

.getLocation:focus {
    border: solid 1.5px var(--focus-col);
}

form fieldset {
    margin-bottom: 1rem;
}

/*Fieldset*/
.zoekLocatie {
    width: 100%;
    overflow: hidden;
}

.zoekLocatie {
    color: var(--textWhite);
    border: 0;
    padding: 1rem 0;
}

.zoekLocatie input[type=text] {
    box-sizing: border-box;
    max-width: calc(100% - 60px);
    margin: 0;
}

.zoekLocatie button {
    margin: 0 0 0 1rem;
}

.zoekLocatie div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}


.searchResult .zoekEmpty {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    grid-column: 2;
    max-width: 0;
    text-align: left;
    align-self: flex-start;
    align-self: center;
    white-space: nowrap;
    width: 100%;
    margin-left: -42rem;
    display: inline-block;
}


select {
    width: 100%;
    max-width: 450px;
    padding: 12px 20px;
    margin: 1rem 0;
    display: inline-block;
    box-sizing: border-box;

    background-color: var(--mediumDarkBlue);
    border: 1.5px solid rgba(0, 0, 0, 0);
    color: var(--textWhite);
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
        linear-gradient(45deg, transparent 50%, var(--textWhite) 50%),
        linear-gradient(135deg, var(--textWhite) 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

select:focus {
    background-image:
        linear-gradient(45deg, var(--textWhite) 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, var(--textWhite) 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: var(--focus-col);
    outline: 0;
}

/*Checkboxes*/ 
.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: .8rem;
  width: auto;
  margin-right: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--textWhite);
}

.checkbox:hover input ~ .checkmark {
  background-color: var(--textWhite);
}

.checkbox input:checked ~ .checkmark {
  background-color: var(--orangie);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid var(--textWhite);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*Favorieten*/
li.item {
    box-sizing: border-box;
    padding: 1.2rem 1.5rem;
    width: 100%;
    max-width: 500px;
    height: 185px;
    background-color: var(--sand);
    border-radius: 10px;

    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "itemPic itemContent"
        "itemLink itemLink";
    color: var(--textWhite);
    margin: 0;
    align-items: center;
}

.item .itemContent {
    grid-area: itemContent;
}

.item a {
    display: block;
    width: 100%;
    max-width: 130px;
    padding: 14px 32px;
    margin: 0 auto;
    border-radius: 100px;

    color: var(--textWhite);
    background-color: var(--mediumBlue);
    font-size: 1rem;
    text-align: center;
    align-self: center;
    transition: all .25s ease;

    grid-area: itemLink;
}

.item .pic, .item img {
    width: 75px;
    height: 75px;
    background-color: var(--mediumBlue);
    border-radius: 18px;

    grid-area: itemPic;
}

.item svg {
    max-width: 1.3rem;
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;

    fill: var(--mediumBlue);
}

.item a {
    color: var(--textWhite);
    background-color: var(--mediumBlue);
    display: block;
    font-size: 1rem;
    padding: 14px 32px;
    border-radius: 100px;
    text-align: center;
    max-width: 130px;
    margin: 0 auto;
    width: 100%;
    transition: all .25s ease;

    grid-area: itemLink;
}

#favoriet section {
    margin: 0 auto 1.5rem auto;
}

#favoriet section ul {
    margin: 0 auto;
    width: 100%;

    padding: 1.1rem;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100vw;
    max-width: 1300px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    grid-template-rows: auto;
    justify-items: center;

    align-items: center;
    grid-gap: 1.1rem;
}


#favoriet section ul li {
    justify-self: center;
}

#favoriet section:first-child {
    padding-top: 6rem;
}

#favoriet section:first-child div:first-child {
    box-sizing: border-box;
    max-width: 1300px;
    margin: 0 auto 2rem auto;
    display: flex;
    justify-content: space-between;
    ;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}


.download {
    width: 1.7rem;
    height: 1.7rem;
    background-color: var(--lichterBlue);
    border-radius: 50%;
    position: absolute;
    bottom: .7rem;
    right: 1.5rem;
}

.download svg {
    fill: var(--textWhite);
    height: 1rem;
    width: 1rem;
    position: absolute;
    bottom: .7rem;
    top: 4px;
    left: 5.5px;
}



/*Detail pagina*/
#detail article {
    padding-top: 6rem;
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "detailTitle"
        "detailImg"
        "detailButtons"
        "detailText";
    width: 100%;
}

#detail h2 {
    grid-area: detailTitle;
    font-weight: 500;
    margin-bottom: 0;
}

#detail .img {
    box-sizing: border-box;
    margin: 1rem;
    grid-area: detailImg;
    width: 400px;
    max-width: 90vw;
    height: 400px;
    max-height: 90vw;
    border-radius: 10px;
    background-color: var(--sand);
}

#detail .buttons {
    display: flex;
    justify-content: flex-end;
    grid-area: detailButtons;
}

#detail button {
    padding: 10px;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

#detail a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: var(--textWhite);
    background-color: var(--mediumBlue);
    padding: 14px 32px;
    border-radius: 100px;
    text-align: center;
    max-width: 130px;
    transition: all .25s ease;
    margin: 0;
}

#detail a:hover,
#detail a:focus {
    background-color: var(--skinOrange);
    color: var(--textBlack);
}

#detail .buttons button svg {
    fill: var(--textWhite);
    align-self: center;
    width: 1.3rem;
    height: 1.3rem;
}

#detail p {
    grid-area: detailText;
    padding: 1.3rem;
    color: var(--textWhite);
}

#detail svg {
    fill: var(--textWhite);
}

#detail button {
    margin-left: 1rem;
}

button .favIcon {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--lichterBlue);
    
}

button .favIconActive {
    background-color: var(--skinOrange);
}


.favIcon path {
    fill: var(--mediumBlue);
}


.favIconActive path {
    fill: var(--skinOrange);
}

/******************
      Footer
******************/

footer {
    width: 100%;
    margin-top: -1px;
    text-align: center;
    background-color: var(--darkestBlue);
}

footer p {
    color: var(--textWhite);
    padding: .7rem;
}

@media screen and (min-width: 768px) {
    nav form {
        max-width: 50vw;
    }

    .zoekNav li a {
        color: var(--textWhite);
    }

    nav li {
        margin-bottom: .5em;
    }

    .manSteen {
        max-height: 70vh;
    }

    .slider ul {
        padding: 0 1.1rem;

        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        overflow-x: auto;
        grid-gap: 1.1rem;

        margin: 0 auto;
        width: 100%;
        max-width: 1600px;
    }

    .slider li {
        box-sizing: border-box;
        padding: 1.2rem 1.5rem;
        width: 100%;
        height: 185px;
        background-color: var(--sand);
        border-radius: 10px;

        position: relative;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas:
            "itemPic itemContent"
            "itemLink itemLink";
        align-items: center;
    }

    .getLocation {
        border-radius: 10px;
        width: 50%;
        max-width: 15rem;
        height: auto;
        margin: 0 0 0 1rem;
        box-sizing: border-box;
        color: var(--textWhite);

        padding: 13px 25px 13px 45px;
        outline: none;

        background-color: var(--mediumBlue);
        position: relative;
        text-align: left;
    }

    .getLocation svg {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        height: 100%;
        transform: scale(.65);
    }

    #detail article {
        width: 60rem;
        max-width: 100vw;
        margin: 0 auto;
        padding-top: 6rem;
        grid-gap: 1.3rem;
        grid-template-columns: 1fr 1.2fr;
        grid-template-rows: auto;
        grid-template-areas:
            "detailTitle detailTitle"
            "detailImg detailText"
            ". detailButtons"
    }
}

@media screen and (min-width: 1024px) {
    .mobNone {
        display: block;
    }

    .slider .mobNone {
        grid-area: itemInfo;
    }

    .slider li {
        height: 350px;

        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "itemPic itemContent"
            "itemPic itemInfo"
            "itemLink itemLink";

        align-items: center;
    }

    .slider .pic {
        width: 175px;
        height: 175px;
    }
}


/*Animatie*/
@keyframes searchAni {
    from {
        border: 1.2px solid rgba(0, 0, 0, 0);
        padding: 12px 20px 12px 20px;
    }

    15% {
        width: 2rem;
        padding: 12px 20px 12px 40px;
    }

    25% {
        border-color: var(--mediumBlue);
    }

    to {
        width: 100%;
        border-color: var(--mediumBlue);
        padding: 12px 20px 12px 40px;
    }
}

@keyframes navBg {
    from {
        width: 0;
        height: 0;
    }

    to {
        width: 200vw;
        height: 200vw;
    }
}

/*burger*/
.menuActive rect:first-child {
    transform-origin: 0 0;
    transform: rotate(45deg) translate(4px, -4px);
}

.menuActive rect:nth-child(2) {
    opacity: 0;
}

.menuActive rect:last-child {
    transform-origin: 0 100%;
    transform: rotate(-45deg) translate(4.5px, 2.5px);
}





/*SVG kleuren*/
.st1 {
    fill: var(--darkestBlue);
}

.st2 {
    fill: #E59E8B;
}

.st3 {
    fill: #10183C;
}

.st4 {
    fill: #B27F6D;
}

.st5 {
    fill: #F3F0ED;
}

.st6 {
    fill: #B77D6E;
}

.st7 {
    fill: #C08974;
}

.st8 {
    fill: #202B5F;
}

.st9 {
    fill: #B67D6B;
}

/*wolk gradients*/
.st10 {
    fill: url(#SVGID_1_);
}

.st11 {
    fill: url(#SVGID_2_);
}

.st12 {
    fill: url(#SVGID_3_);
}

.st13 {
    clip-path: url(#SVGID_5_);
    fill: #FCD4C5;
}

.st14 {
    clip-path: url(#SVGID_5_);
    fill: #131B42;
}

.st15 {
    clip-path: url(#SVGID_5_);
    fill: url(#SVGID_6_);
}

.st16 {
    clip-path: url(#SVGID_5_);
    fill: #202B5F;
}

.st17 {
    clip-path: url(#SVGID_5_);
    fill: #FFA080;
}

.st18 {
    clip-path: url(#SVGID_5_);
}

.st19 {
    fill: url(#SVGID_7_);
}

.st20 {
    fill: url(#SVGID_8_);
}

.st21 {
    fill: url(#SVGID_9_);
}

.st22 {
    clip-path: url(#SVGID_5_);
    fill: url(#SVGID_10_);
}

.st23 {
    fill: #FD794D;
}

.st24 {
    fill: #FCD4C5;
}

.st25 {
    fill: #2244F0;
}

.st26 {
    fill: #FFA080;
}

.st27 {
    fill: #5D73E5;
}